*{
    border: 0;
    padding: 0;
}
.grid-container{
    background-color: white;
    padding: 10px;
    display: grid;
    gap: 10px;
    height: 22em;
    width: 50%;
    padding: 10%;
    margin-left: 10px;
    grid-template-areas: 
    "h h h h m m"
    "h h h h m m"
    "k k k j j j"
    "k k k l l l";
}
.grid-item1{
    background-color: rgb(202, 64, 64);
    grid-area: h;
}
.grid-item2{
    background-color: rgba(0, 131, 246, 0.772);
    grid-area: m;
}
.grid-item3{
    background-color: rgb(22, 161, 165);
    grid-area: k;
}
.grid-item4{
    grid-area: j;
    background-color: rgb(9, 9, 201);
}
.grid-item5{
    grid-area: l;
    background-color: rgb(0, 255, 213);
}